BeautifulSoup==3.2.1
Django==1.6
argparse==1.2.1
django-admin-bootstrapped==1.6.5
django-admin-tools==0.5.1
-e hg+https://bitbucket.org/salvator/django-admintools-bootstrap@d16b74a45dd2cca29e414d1d41f0a0f91ae63720#egg=django_admintools_bootstrap-dev
django-appconf==0.6
django-fluent-dashboard==0.3.6
django-grappelli==2.5.3
django-suit==0.2.9
pytz==2014.4
six==1.7.3
versiontools==1.9.1
wsgiref==0.1.2
